<div class="row isotope-container">
  <% @found_items.each do |found_item| %>
    <% if found_item.user_id == current_user.id %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotope-item">
        <div class="panel panel-default item-border">
          <div class="panel-heading">
            <h3 class="panel-title"><%= found_item.name.truncate(30) %></h3>
          </div>
          <div class="panel-body">
            <dl>
              <div class="boxed-image">
                <dd><%= image_tag (found_item.image1), class: "image-index img-responsive" %></dd>
              </div>
            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('search-plus'), found_item, class: "btn btn-primary bottom-button" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
