<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">My Cart</h3>
  </div>
  <div class="panel-body">
    <% if user_signed_in? %>
      <% @cart_items.each do |cart_item| %>
        <%# if cart_item.cart.user_id == current_user.id %>
          <ul>
            <div class="row">
              <div class="col-md-1">
                <%= link_to icon('times'), cart_item, method: :delete, class: 'x-link center' %>
              </div>
              <div class="col-md-11">
                <li class="list-group-item">
                  <%= cart_item.item.name.titleize %>
                  <span class="pull-right">
                    $<%= cart_item.item.price %>
                  </span>
                </li>
              </div>
            </div>
          </ul>
        <% end %>
      <%# end %>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <dl class="dl-horizontal pull-right">
          <dt><strong>Subtotal</strong></dt>
          <dd></dd>
        </dl>
      </div>
      <div class="col-md-12">
        <dl class="dl-horizontal pull-right">
          <dt><strong>Tax</strong></dt>
          <dd></dd>
        </dl>
      </div>
      <div class="col-md-12">
        <dl class="dl-horizontal pull-right">
          <dt><strong>Shipping</strong></dt>
          <dd></dd>
        </dl>
      </div>
      <div class="col-md-12">
        <dl class="dl-horizontal pull-right">
          <dt><strong>Total</strong></dt>
          <dd></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
