<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">My Cart</h3>
  </div>
  <div class="panel-body">
    <% if user_signed_in? %>
      <% @cart_items.each do |cart_item| %>
        <%# if cart_item.cart.user_id == current_user.id %>
          <ul>
            <li>
              <%= cart_item.item.name %>
              <%= cart_item.item.price %>
            </li>
          </ul>
        <% end %>
      <%# end %>
    <% end %>
  </div>
</div>
