/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.image-index {
  max-width: 220px;
  max-height: 175px;
  margin-left: auto;
  margin-right: auto;
}

.small-image {
  width: 100px;
  height: 100px;
}

.item-border {
  height: 300px;
  width: 250px;
  margin-right: 0;
}

.bottom-button {
  margin-bottom: 0;
}

.boxed-image {
  height: 180px;
}

.search {
  padding-left: 0;
}

.mini-image-border {
  padding-top: 10px;
}

.isotope-item {
  width: 310px;
  padding-right: 0;
  padding-left: 15px;
}

